<%- title "Categories" %>

<h1>Explore Categories by Identity Dimension.</h1>
<ul class="breadcrumbs">
  <li><a href="/">Home</a> /</li>
  <li>Categories</li>
</ul>

<ul class="list">
  <% @dimensions.each do |dimension| %>
    <li>
      <%= link_to dimension.display_name, dimension_path(dimension) %>
    </li>
  <% end %>
</ul>
