<%- title "Themes" %>

<h1>Explore Themes.</h1>
<div class="tag-collection">
  <% @themes.each do |theme| %>
      <%= link_to theme_path(theme.id) do %>
        <div class="tag zoom-link-light"><%= theme.name %></div>
      <% end %>
  <% end %>
  <%= link_to new_theme_path do %>
    <div class="tag-button">New Theme</div>
  <% end %>
</div>

