<%- title "Themes" %>

<h1>Explore Themes.</h1>
<ul class="breadcrumbs">
  <li><a href="/">Home</a> /</li>
  <li>Themes</li>
</ul>

<div class="tag-collection" style="margin-top: 1rem;">
  <% @themes.each do |theme| %>
      <%= link_to theme_path(theme.id) do %>
        <div class="tag zoom-link-light"><%= theme.name %></div>
      <% end %>
  <% end %>
  <%= link_to new_theme_path do %>
    <div class="tag-button">New Theme</div>
  <% end %>
</div>

