<%- title "Codebook" %>

<h1>Browse the Codebook.</h1>

<h3>Contexts</h3>
<ul class="list">
  <% @contexts.each do |context,label| %>
    <li>
      <%= link_to label, codebook_path(context) %>
    </li>
  <% end %>
</ul>
