<%- title "Codebook" %>

<h1>Browse the Codebooks.</h1>

<h3>Questions</h3>
<ul class="list">
  <% @questions.each do |question| %>
    <li>
      <%= link_to question.label, codebook_path(question.id) %>
    </li>
  <% end %>
</ul>
