<footer>
  <p class="colophon-copyright">
    &copy; Copyright <%= Date.today.year %> IDentity Research Lab.<br /><a href="https://github.com/identity-research-lab/tmi-web">Source code is openly available.</a>
  </p>
</footer>
