<footer>
	<p class="colophon-copyright">
		&copy; Copyright <%= Date.today.year %> IDentity Research Lab.<br />Source code is available at <a href="https://github.com/CoralineAda/tmi-web">https://github.com/CoralineAda/tmi-web</a>.
	</p>
</footer>
