<footer>
	<p class="colophon-copyright">
		&copy; Copyright <%= Date.today.year %> IDentity Research Lab.<br /><a href="https://github.com/CoralineAda/tmi-web">Source code is available.</a>
	</p>
</footer>
