<footer>
  <p class="colophon-copyright">
    &copy; Copyright <%= Date.today.year %> <a href="https://identityresearchlab.com">IDentity Research Lab</a>.<br /><a href="https://github.com/identity-research-lab/tmi-web">Source code is openly available.</a>
  </p>
</footer>
