<header>
	<h1>tmi-web</h1>
	 <nav>
		<ul>
			<li><a href="/survey_responses/new">Upload</a></li>
			<li><a href="/survey_responses">Explore</a></li>
			<li><a href="/about">About</a></li>
		</ul>
	</nav>
</header>
