<header>
	<%= image_tag "tmi-logo.png", class: "logo", alt: "TMI logo, consisting of three circles connected with arrows. Each circle has T or M or I in a typewriter font." %>
	<h1><a href="/">tmi-web</a></h1>
 	<nav>
		<ul>
			<li><a href="/survey_responses">Explore</a></li>
			<li><a href="/codebooks">Codebook</a></li>
			<li><a href="/survey_responses/new">Upload</a></li>
			<li><a href="/about">About</a></li>
		</ul>
	</nav>
</header>
