<header>
	<a href="/"><%= image_tag "tmi_logo_fff.png", class: "logo", alt: "The words 'tmi' and 'web' separated by an eight-arrowed star figure."%></a>
 	<nav>
		<ul>
			<li><a href="/survey_responses">Explore</a></li>
			<li><a href="/codebooks">Codebook</a></li>
			<li><a href="/survey_responses/new">Upload</a></li>
			<li><a href="/about">About</a></li>
		</ul>
	</nav>
</header>
