<%- title "About" %>

<h1>About TMI-Web.</h1>

<h2>Capturing intersectionality: modeling complex social relationships.</h2>
<p>
  TMI-Web creates detailed models capturing the multifaceted nature of social <span class="highlight">identities</span> (e.g., race, gender, socioeconomic status) and their interrelations. It represents individuals as nodes and the dimensions of their identities as relationships, facilitating an in-depth exploration of intersectional dynamics.
</p>

<h2>Mapping connections: analyzing structural inequalities.</h2>
<p>
  With TMI-Web, researchers can map out and analyze the structural connections that influence inequality, such as social hierarchies or uneven power dynamics. This helps identify how systemic factors intersect with individual <span class="highlight">identities</span> to shape experiences of privilege or marginalization.
</p>

<h2>Meaningful queries: exploring intersectional data.</h2>
<p>
  TMI-Web syncs with the graph database Neo4j. Using Neo4j's query language, Cypher, researchers can perform sophisticated queries to uncover patterns across <span class="highlight">intersections</span>. For example, queries can be designed to investigate how support networks vary by race and gender or how barriers to resource access differ for people with varying combinations of socioeconomic and disability status.
</p>

<h2>Revolutionary data visualization: tactile exploration of intersectional identities.</h2>
<p>
  Through its Neo4j integration, TMI-Web provides powerful visualization capabilities, illustrating the complex web of relationships between different social categories and experiences. Visualization communicates intersectional findings to diverse audiences, highlighting the interconnected nature of social <span class="highlight">identities</span> and structural factors.
</p>

<h2>Collaboration across fields: enhancing interdisciplinary research.</h2>
<p>
  The flexibility and power of TMI-Web supports interdisciplinary research efforts, integrating quantitative data analysis with insights from sociology, gender studies, and critical race theory, among others. This fosters a richer, more comprehensive approach to studying <span class="highlight">intersectionality</span>.
</p>

<h2>Social science for good: open and ethically licensed.</h2>
<p>
  TMI-Web is distributed with <a href="https://github.com/CoralineAda/tmi-web">source code openly available</a> and released under the <a href="https://firstdonoharm.dev/version/3/0/core.html">Hippocratic License (HL3-CORE)</a>.
</p>
