<h2>About TMI-Web</h2>

<h3>Modeling Complex Social Relationships: Capturing Intersectionality</h3>
<p>tmi-web allows for the creation of detailed models that capture the multifaceted nature of social identities (e.g., race, gender, socioeconomic status) and their interrelations. It can represent individuals as nodes and the various dimensions of their identities as relationships or properties, facilitating an in-depth exploration of intersectional dynamics.

<h3>Analyzing Structural Inequalities: Mapping Structural Connections</h3>
<p>
	With tmi-web, researchers can map out and analyze the structural connections that influence inequality, such as organizational hierarchies or social networks. This can help identify how systemic factors intersect with individual identities to shape experiences of privilege or marginalization.
</p>

<h3>Querying Intersectional Data: Flexible Queries</h3>
<p>
	tmi-web can export data to the graph database Neo4j. Neo4j's query language, Cypher, enables researchers to perform sophisticated queries that can uncover patterns of discrimination or privilege across different intersectional groups. For example, queries can be designed to investigate how support networks vary by race and gender or how barriers to resource access differ for people with varying socioeconomic statuses and disabilities.
</p>

<h3>Visualizing Intersectional Relationships: Data Visualization</h3>
<p>
	Through its Neo4j integration, tmi-web provides powerful visualization capabilities, making it easier to illustrate the complex web of relationships between different social categories and outcomes. Visualization can aid in the communication of intersectional findings to diverse audiences, highlighting the interconnected nature of social identities and structural factors.
</p>

<h3>Enhancing Interdisciplinary Research: Collaboration Across Fields</h3>
<p>
	The flexibility and power of tmi-web supports interdisciplinary research efforts, allowing for the integration of quantitative data analysis with insights from sociology, gender studies, and critical race theory, among others. This can foster a richer, more comprehensive approach to studying intersectionality.
</p>
