<h1>About tmi-web.</h1>

<h2>Capturing intersectionality: modeling complex social relationships</h2>
<p>tmi-web allows for the creation of detailed models that capture the multifaceted nature of social identities (e.g., race, gender, socioeconomic status) and their interrelations. It can represent individuals as nodes and the various dimensions of their identities as relationships or properties, facilitating an in-depth exploration of intersectional dynamics.

<h2>Mapping connections: analyzing structural inequalities.</h2>
<p>
	With tmi-web, researchers can map out and analyze the structural connections that influence inequality, such as organizational hierarchies or social networks. This can help identify how systemic factors intersect with individual identities to shape experiences of privilege or marginalization.
</p>

<h2>Meaningful queries: exploring intersectional data.</h2>
<p>
	tmi-web can export data to the graph database Neo4j. Using Neo4j's query language, Cypher, researchers can perform sophisticated queries to uncover patterns of discrimination or privilege across different intersectional groups. For example, queries can be designed to investigate how support networks vary by race and gender or how barriers to resource access differ for people with varying combinations of socioeconomic status and disability.
</p>

<h2>Revolutionary data visualization: tactile exploration of intersectional identities.</h2>
<p>
	Through its Neo4j integration, tmi-web provides powerful visualization capabilities, making it easier to illustrate the complex web of relationships between different social categories and outcomes. Visualization can aid in the communication of intersectional findings to diverse audiences, highlighting the interconnected nature of social identities and structural factors.
</p>

<h2>Collaboration across fields: enhancing interdisciplinary research.</h2>
<p>
	The flexibility and power of tmi-web supports interdisciplinary research efforts, allowing for the integration of quantitative data analysis with insights from sociology, gender studies, and critical race theory, among others. This can foster a richer, more comprehensive approach to studying intersectionality.
</p>

<h2>Social science for good: open and ethically licensed.</h2>
<p>
	tmi-web is distributed with <a href="https://github.com/CoralineAda/tmi-web">source code available</a> and released under the <a href="https://firstdonoharm.dev/version/3/0/core.html">Hippocratic License (HL3-CORE)</a>.
</p>
