<%- title "Categories" %>

<h1>Explore Categories.</h1>
<ul class="breadcrumbs">
  <li><a href="/">Home</a> /</li>
  <li>Categories</li>
</ul>

<ul class="list">
  <% @contexts.each do |context| %>
    <li>
      <%= link_to context.display_name, context_path(context) %>
    </li>
  <% end %>
</ul>
