<%- title "Participant Survey Responses" %>

<h1>
  <%= pluralize @survey_responses.size, "participant survey response" %>.
</h1>

<ol class="nodes">
  <% @survey_responses.each do |response| %>
    <li>
      <a href="/survey_responses/<%= response.id %>">
        <div>
          <%= response.identifier %>
        </div>
      </a>
    </li>
  <% end %>
</ol>
