<%- title "Participant Survey Responses" %>

<h1>
  <%= pluralize @responses.size, "participant survey response" %>.
</h1>

<ol class="nodes">
<% @responses.each do |r| %>
  <li>
    <a href="/survey_responses/<%= r.id %>">
      <div><%= r.id %></div>
    </a>
  </li>
<% end %>
</ol>
