<h1>Upload a CSV</h1>

<p>Note that this will merge new rows with existing survey responses from the file you select.</p>

<%= form_with url: survey_responses_path, method: :post do |f| %>
	<label>
		CSV:
		<%= f.file_field :csv, direct_upload: true %>
	</label>

	<%= f.submit "Upload and Merge" %>
<% end  %>	
