<h2>Responses to "<%= @question_readable %>"</h2>

<table>
	<tbody>
		<% @responses.each do |response| %>
			<% next unless @response_value = response.read_attribute(@question_label) %>
			<tr>
				<td class="label">
					<%= link_to response.id, response %>
				</td>
				<td>
					<% if @response_value.respond_to?(:join) %>
						<% @response_value = @response_value.sort.join(", ") %>
					<% end %>
					<%= @response_value %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
