<h2>Responses to "<%= @question_readable %>"</h2>

<table>
	<tbody>
		<% @responses.each do |response| %>
			<% next unless @response_value = response.read_attribute(@question_label) %>
			<tr>
				<td><%= @response_value %></td>
				<td class="label"><%= link_to "View in Context", response %></td>
			</tr>
		<% end %>
	</tbody>
</table>
