<h2>Response <%= @response.id %></h2>

<table>
	<thead>
		<tr>
			<th>Question</th>
			<th>Answer</th>
		</tr>
	</thead>
	<tbody>
		<% SurveyResponse::QUESTION_MAPPING.each do |field,label| %>
			<tr>
				<td class="label"><%= label %></td>
				<td><%= @response.send(field) %></td>
			</tr>
		<% end %>
	</tbody>
</table>
