/* Pixel-to-rem calculator: https://nekocalc.com/px-to-rem-converter */

 * {
   margin: 0;
   padding: 0;
 }

 /* Variables */
 :root {
   --color-primary: #fff;
   --color-black: #000;
   --color-white: #fff;
   --color-medium-black: #353535;
   --color-light-grey: #eee;
   --color-red: #ff3333;
   --color-green: #99CC00;
   --color-green-highlight: #aea;
   --color-yellow: #FFFF99;
   --color-blue: #CCFFFF;
   --color-red-tint: #600;
   --color-red-highlight: #eaa;
   --color-white: #FFFFFF;
   --font-body: "KoHo Regular";
   --font-title: "KoHo Regular";
   --font-header: "KoHo-Bold";
   --font-monospace: "Courier New";
   --font-size-small: 0.85rem;
 }

 html {
   height: 100%;
   font-size: .85rem;
 }

 body {
   background: var(--color-black);
   color: var(--color-black);
   font: 300 1rem/1.75rem var(--font-body), sans-serif;
   margin: 0 auto 1rem auto;
   font-synthesis: none;
   min-height: 100%;
   -moz-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   text-size-adjust: 100%;
 }

 header,
 section {
   box-sizing: border-box;
 }

 nav a {
   color: var(--color-white);
   display: block;
   padding: 0;
   text-decoration: none;
 }

 nav a:focus,
 nav a:hover {
   color: var(--color-white);
   text-decoration-color: var(--color-white);
 }

 nav.subpage a {
   color: var(--color-black);
 }

 nav.subpage a:focus,
 nav.subpage a:hover {
   color: var(--color-black);
   text-decoration-color: var(--color-black);
 }

ul,
 ol {
   list-style-position: inside;
   margin: 0 0 1.5rem 1.5rem;
 }

 em {
   font-family: var(--font-body);
 }

 li {
   margin-bottom: .375rem;
   position: relative;
 }

 strong {
   font-weight: 600 !important;
 }

 header {
   color: var(--color-white);
   background: var(--color-black);
 }

 footer {
   box-sizing: border-box;
   color: var(--color-white);
   background: var(--color-black);
   width: 77.188rem;
   clear: both;
   font-family: var(--font-body);
 }

 footer h2 {
   font-family: var(--font-body);
   margin: 1.25rem;
 }

 footer h2 {
   margin: 1.25rem;
 }

 footer p {
   clear: both;
   text-align: center;
   margin-top: 1.25rem;
   margin-left: 1rem;
 }

 footer ul {
    list-style: none;
    margin: 0;
  }

  footer ul li {
    font-size: 1rem;
    margin-bottom: .75rem;
  }

  footer a {
    color: var(--color-white);
    font-family: var(--font-body);
    text-decoration: underline;
    text-decoration-color: var(--color-white);
  }

 footer a:focus,
 footer a:hover {
   color: var(--color-white);
   text-decoration-color: var(--color-white);
   text-decoration: underline;
 }

 blockquote {
   border-left: .75rem solid var(--color-light-grey);
   margin-left: 1.25rem;
   padding-left: 2.25rem;
   font-family: var(--font-body);
 }

 /* Headers */

 h1 {
   font-family: var(--font-header);
   font-size: 2rem;
   line-height: 3rem;
   width: 75%;
   margin-bottom: 2rem;
 }

 * + h1 {
   margin-top: 3rem;
 }

 h2 {
   font-family: var(--font-header);
   margin: 2rem 0rem;
 }

 h3 {
   font-family: var(--font-header);
   font-size: 1.25rem;
   margin-top: 1.25rem;
 }

 p {
   margin: 1.5rem 0;
 }

 /* Inline Elements */
 a {
   color: var(--color-red);
   text-decoration: underline;
   text-decoration-color: var(--color-red);
   text-underline-offset: .25rem;
   cursor: pointer;
 }

 a:focus,
 a:hover {
   color: var(--color-red);
   text-decoration: underline;
 }

 a span {
   color: var(--color-white);
   font-weight: 300;
 }

 strong {
   font-weight: 400;
 }

 code,
 kbd {
   font-family: "Courier", monospace;
   letter-spacing: .0625rem;
 }

 cite {
   font-style: italic;
 }

 cite::before {
   content: "— ";
 }

 table {
   width: 100%;
   border: 3px solid var(--color-light-grey);
   margin: 1rem 0rem;
 }

tr.alt {
  background-color: var(--color-light-grey);
}

td {
  padding: 0rem 1rem;
  vertical-align: top;
}

td.label {
  width: 30%;
}

td.label a {
  text-decoration: none;
}

td.label a:hover {
  text-decoration: underline;
}

td.response {
  width: 30%;
  padding: .5rem 1rem 1.25rem 1rem;
}

td.form-entry {
  width: 30%;
  padding: 1rem;
}

th {
  text-align: left;
  padding: 1rem;
  background-color: var(--color-medium-black);
  color: var(--color-white);
}

th a {
  color: var(--color-white);
  text-decoration: none;
}

th a:hover {
  color: var(--color-white);
  text-decoration: underline;
}

 abbr {
   text-decoration: none;
 }

 #veil {
   background: var(--color-white);
   width: auto;
 }

 /* Utility Classes */

 .error,
 .important {
   color: var(--color-red);
   font-weight: 600;
 }


 header figure {
   line-height: 3rem;
   padding-top: 1rem;
   padding-bottom: 1rem;
   margin-bottom: .25rem;
   width: 50%;
 }

 header figure a {
   color: #fff;
 }

 header a {
   color: var(--color-white);
   font-weight: 500;
   text-decoration: none;
 }

 header a:focus,
 header a:hover {
   color: #fff;
   font-weight: 500;
 }

 .hidden {
   display: none;
 }

 fieldset {
   border: 0;
   width: 35%;
   text-align: left;
 }

 figure {
   width: 80%;
   margin: 1rem auto;
 }

 label {
   display: flex;
   font-weight: bold;
 }

 input[type="file"] {
   margin-top: 0rem;
 }

 button,
 input[type="submit"] {
   border: none;
 }

input[type="text"],
input[type="email"],
textarea {
  color: var(--color-black);
  font-family: var(--font-body);
  font-size: var(--font-size-small);
  padding: .125rem .25rem;
  border: 0.125px solid var(--color-black);
  width: 100%;
  margin: 0 0 1rem 0;
}

input[type="text"],
input[type="email"] {

 }


 button {
   margin-top: 1rem;
   margin-bottom: 1rem;
   margin-left: 1.75rem;
 }

 textarea {
   margin-top: -.25rem;
 }

 textarea:focus {
   /* font-family: var(--font-monospace); */
 }

  input[type="submit"] {
    width: auto;
    font-family: var(--font-body);
    font-weight: bold;
    text-transform: uppercase;
    padding: 0rem 1rem;
    cursor: pointer;
  }

  input[type="submit"].small {
    padding: 0.25rem .5rem;
    height: 2rem;
    float: right;
    font-size: 70%;
    margin: .25rem 0rem;
  }

  button:active,
  .small:active {
    border: 1px solid var(--color-medium-black);
    opacity: 0.75;
  }

 .radio-form-group {
   float: left;
   text-align: left;
   clear: both;
 }

 .radio-form-group label {
   padding: 0em;
   float: left;
   font-weight: normal;
   margin: -2rem 1rem 2rem 1rem;
 }

 .radio-form-group input[type="radio"] {
   border: 0em;
   padding: 0em;
   margin: -.75em 2em 0em -1em;
 }

 .checkbox-form-group input[type="checkbox"] {
   margin: -.6rem 1rem 0 0;
   float: left;
   width: 1rem;
 }

 .checkbox-form-group label {
   font-weight: normal;
 }

 .checkbox-form-group label > :first-child {
   padding: 0em;
   margin-left: 1rem;
   margin-top: 1rem;
 }

 input[type="checkbox"] {
   float: right;
   margin-left: 5em;
 }

 input[type="submit"],
 button {
  background-color: var(--color-red);
  padding: .25rem 1rem;
  color: #fff;
  border-radius: 5px;
  margin: 1rem 0;
  border: 1px solid var(--color-red);
}

 textarea {
   min-height: 6.25rem;
   resize: none;
 }

 section img {
   max-width: 100%;
 }

 a.button {
   display: block;
   width: 9rem;
   background-color: var(--color-red);
   color: var(--color-white);
   font-family: var(--font-body);
   font-size: 1rem;
   padding: 0.25rem 1rem;
   margin: 0rem auto;
   border-radius: 13px;
   text-align: center;
 }

 address.byline {
   text-align: center;
   border-top: 1px solid var(--color-black);
   width: 50%;
   margin: 0rem auto;
   padding: 1.25rem 0;
 }

 address.byline time {
   font-size: 1rem;
 }

 article h2 {
   color: var(--color-black);
   font-family: var(--font-body);
   font-size: 1.5rem;
   padding: 1.25rem 0 0 0;
   margin-bottom: -1.25rem;
 }

 article h1 {
   padding-top: 1.25rem;
 }

 a[target='_blank']::after {
   content: "";
   width: .8em;
   height: .8em;
   margin: 0 -0.25rem 0 0.1em;
   background: var(--icon-remote-link) no-repeat;
   background-size: contain;
   display: inline-block;
   vertical-align: baseline;
 }

#colophon {
    clear: both;
    position: relative;
    margin-top: 1rem;
    font-size: 1rem;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 10%;
  }

  #colophon .colophon-logo {
    flex: 25%;
  }

  #colophon .logo {
    height: 8rem;
    display: inline-block;
    margin: -1.65rem;
  }

  #colophon .colophon-copyright {
    flex: 70%;
  }

  #copy-to-clipboard:after {
     content: "";
     width: 1.5rem;
     height: 1.5rem;
     margin: 0 -0.25rem 0 0.1em;
     background: var(--icon-copy-to-clipboard) no-repeat;
     background-size: contain;
     display: inline-block;
     vertical-align: baseline;
  }

  #copy-to-clipboard {
    text-decoration: none;
  }

  .confirmable {
    position: relative;
  }

  #confirmation {
    position: absolute;
    top: 0rem;
    right: -1.5rem;
    width: 1rem;
    height: 1rem;
    padding: 1rem;
    vertical-align: baseline;
    background: var(--icon-copy-confirm) no-repeat;
    background-size: contain;
  }

  .appear-disappear {
    opacity: 1;
	  animation-name: appear-disappear;
	  animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes appear-disappear {
	  0% { opacity:0; }
	  50% { opacity:1;}
	  100% { opacity:0; }
  }

  .code {
    margin: 2rem;
    min-height: 8rem;
    background-color: var(--color-light-grey);
    padding: .5rem;
    font-size: var(--font-size-small);
    font-family: var(--font-monospace);
  }

  .stacked-bar {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--color-green);
    opacity: 0.25;
    border-right: 2px solid var(--color-black);
    z-index: -1;
  }

  .nodes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
    margin-left: 0rem;
    font-family: var(--font-body);
  }

  .nodes li div {
    margin: .5rem 1rem .5rem 0;
    padding: 1rem;
    height: 2.25rem;
    width: 2.25rem;
    text-align: center;
    background: var(--color-light-grey);
    border-radius: 3rem;
  }

  .nodes li div:hover {
    background: var(--color-red);
    opacity: 0.5;
    color: var(--color-white);
  }

  .highlight {
    background-color: var(--color-green-highlight);
  }

  .sentiment-positive {
    background-color: var(--color-green-highlight);
  }

  .sentiment-neutral {
    background-color: var(--color-light-grey);
  }

  .sentiment-negative {
    background-color: var(--color-red-highlight);
  }

  .highlight-green {
    background-color: var(--color-green-highlight);
  }

  .highlight-grey {
    background-color: var(--color-light-grey);
  }

  .highlight-red {
    background-color: var(--color-red-highlight);
  }

  .word-cloud {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    list-style-type: none;
    text-align: center;
    margin: 2rem;
  }

  .word-cloud li {
    text-align: center;
    margin: .25rem;
    background-color: var(--color-light-grey);
    padding: .5rem;
    font-size: var(--font-size-small);
  }

  .word-cloud li.active {
    background-color: var(--color-red-highlight);
    font-weight: bold;
  }

  .two-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    width: 40;
  }

  .form-success {
     background-color: auto;
     animation: fadeSuccessBackground 1s;
   }

  @keyframes fadeSuccessBackground {
   0% {
     background-color: var(--color-green-highlight);
   }
   100% {
     background-color: auto;
   }
  }

  .form-error {
    background-color: var(--color-white);
    animation: fadeErrorBackground 1s;
  }

  @keyframes fadeErrorBackground {
    0% {
      background-color: var(--color-red-highlight);
    }
    100% {
      background-color: white;
    }
  }

  ul.list {
    margin: 1rem 1rem 0 0rem;
    list-style-type: none;
  }

  ul.list li {
    text-align: left;
    background-color: var(--color-light-grey);
    opacity: 0.75;
    padding: .5rem;
  }

  .jump-link::after {
     content: "";
     width: .8em;
     height: .8em;
     margin: 0 -0.25rem 0 0.25em;
     background: var(--icon-jump-link) no-repeat;
     background-size: contain;
     display: inline-block;
     vertical-align: baseline;
  }

  .jump-link-light::after {
     content: "";
     width: .8em;
     height: .8em;
     margin: 0 -0.25rem 0 0.25em;
     background: var(--icon-jump-link-light) no-repeat;
     background-size: contain;
     display: inline-block;
     vertical-align: baseline;
  }

  .zoom-link::after {
     content: "";
     width: .8em;
     height: .8em;
     margin: 0 -0.25rem 0 0.25em;
     background: var(--icon-zoom) no-repeat;
     background-size: contain;
     display: inline-block;
     vertical-align: baseline;
  }

  .zoom-link-light::after {
     content: "";
     width: .8em;
     height: .8em;
     margin: 0 -0.25rem 0 0.25em;
     background: var(--icon-zoom-light) no-repeat;
     background-size: contain;
     display: inline-block;
     vertical-align: baseline;
  }

  .logo {
    position: absolute;
    top: 2rem;
    left: 3rem;
    width: 15rem;
    height: 5rem;
    border: none;
  }

  .logo a {
    text-decoration: none;
  }

  .tag-collection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .tag-form-controls {
    width: 25%;
  }

  .tag {
    background-color: var(--color-green);
    color: var(--color-white);
    line-height: 1.25rem;
    padding: .6rem;
    border-radius: 1rem;
    min-width: 2rem;
    margin: 0 1rem 1rem 0;
    border: 3px solid var(--color-green);
  }

  .tag.active {
    background-color: var(--color-medium-black);
    border: 3px solid var(--color-medium-black);
  }

  .tag.active:after {
     content: "";
     width: 1.25rem;
     height: 1.25em;
     margin: -1rem 0 0 0;
     background: var(--icon-check-mark-light) no-repeat;
     background-size: contain;
     display: inline-block;
     vertical-align: baseline;
  }


  .tag-collection a {
    color: var(--color-white);
    text-decoration: none;
  }

  .tag-button {
    background-color: var(--color-red);
    color: var(--color-white);
    line-height: 1.25rem;
    padding: .6rem;
    border-radius: 1rem;
    float: left;
    min-width: 2rem;
    margin: 0 1rem 1rem 0;
    border: 3px solid var(--color-red);
    float: right;
  }

  .tag-button a {
    color: var(--color-white);
    text-decoration: none;
  }

  a.flip {
    position: fixed;
    top: 50%;
    width: 1.75rem;
    height: 1.75rem;
    text-align: center;
    background-color: var(--color-red);
    opacity: 0.3;
    color: var(--color-white);
    font-size: 2rem;
    padding: .75rem;
    border-radius: 10rem;
    z-index: 3;
    font-family: var(--font-monospace);
    color: var(--color-white);
  }

  #flip-left {
    left: 8%;
  }

  #flip-right {
    right: 8%;
  }

 @media (min-width: 300px) {

   body {
     width: 100%;
   }

   header {
     box-sizing: border-box;
     margin: 0 auto 1rem auto;
     width: 100%;
     padding: 2rem 2rem;
     min-height: 15rem;
   }

   nav {
     position: absolute;
     top: 1.25rem;
     right: 0.5rem;
   }

   nav ul {
     list-style: none;
     margin: 1.25rem 0 0 0;
     padding: 0;
     text-align: left;
   }

   nav ul li {
     float: none;
     display: block;
     font-size: 1rem;
   }

   section {
     box-sizing: border-box;
     width: 100%;
     margin: 0 auto 1rem auto;
     padding: 1.25rem;
     min-height: 26rem;
   }

   footer {
     box-sizing: border-box;
     width: 100%;
     margin: 3rem auto 1rem auto;
     padding: 3rem;
     border-bottom: 23rem solid var(--color-black);
   }

   .footer-nav {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     column-count: 3;
     width: 100%;
   }

   .footer-nav ul {
     list-style: none;
     margin: 1.25rem 0 0 0;
     padding: 0;
     text-align: left;
   }

   h1 {
     margin-top: 1.25rem;
     margin-left: 0rem;
   }

   h2 {
   }

 }

 /* end @media (min-width: 300px) */

 @media (min-width: 414px) {

   header {
     min-height: 15rem;
   }

   .page-title {
     margin-top: 22.5rem;
     width: 50%;
   }

   nav {
     position: absolute;
     top: .75rem;
     right: 0.5rem;
   }

   nav li {
     margin-left: 3.125rem;
   }

 }

 /* end @media (min-width: 414px) */

 @media (min-width: 640px) {
   html {
     font-size: 1rem;
   }

   body {
     width: 100%;
   }

   .page-title {
     margin-top: 22.5rem;
     width: 60%;
   }

   nav {
     position: absolute;
     top: .5rem;
     right: 4.375rem;
   }

   header {
     min-height: 15rem;
   }

 }
 /* end @media (min-width: 640px) */

 @media (min-width: 1000px) {

   html {
     font-size: 1rem;
   }

   body {
     width: 100%;
   }

   .page-title h1 {
     font-size: 5.5rem;
     line-height: 5rem;
     width: 100%;
   }

   section {
     box-sizing: border-box;
     width: 60rem;
     margin: 0 auto 1rem auto;
   }

   nav {
      top: 2rem;
      margin-right: 0.5rem;
    }

    nav ul li {
      float: left;
      display: inline;
      font-size: 1rem;
    }

   nav ul li a {
     width: 100%;
     text-decoration: none;
   }

   nav ul li a {
     transition: color .5s, background-color .5s
   }

   h2 {
   }

   section h2 {
     width: 100%;
   }

   h3 {
     width: 100%;
     margin-bottom: 1rem;
   }

   header {
     min-height: 7rem;
   }

   footer {
     padding: 1rem;
     border-bottom: 5rem solid var(--color-black);
   }

 }

 /* end @media (min-width: 1024px) */
