<%- title "Categories" %>

<h1>Browse categories and their codes.</h1>

<h3>Categories by:</h3>
<ul class="list">
  <% @contexts.each do |context| %>
    <% next unless question = context.primary_experience_question %>
    <li>
      <%= link_to context.display_name, question_categories_path(question_id: question.id) %>
    </li>
  <% end %>
</ul>
